$heading-background-color: #E0B0D5; /*pink*/
$heading-background-color-secondary: #e5bddc; /*lighter shade of bckgrd color*/
$action-color: #49D49D; /*Eucalyptus*/
$light-action-color: #def7ed;
$font-color: #565656; /*dark grey*/
$error-color: #B15E6C;
$main-background-color: #fdfffd;
$secondary-background-color: #f0fff0;
$inverted-background-color-w-opacity: rgba(86, 86, 86, 0.50);
$heading-color: #fdfffd;
$shadow-color: #e6e7e8;
$heading-font: 'Raleway', sans-serif;
$content-font: 'Lato', sans-serif;
$mobile-sidebar-grid: 70vw;